@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************** Cursor *******************/

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 99999999;
}

.inner-cursor.grow {
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 0.5s;
  z-index: 9999;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  /* transition: all 0.1ms; */
  z-index: 99999999;
}

body {
  color: #101118;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  overflow-x: hidden;
  cursor: pointer;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bebas neue", sans-serif;
  color: #101118;
  line-height: 1 !important;
  font-weight: 400;
}

.hero-section {
  width: 100%;
  height: 90vh;
}

/* Navbar */

header {
  opacity: 1;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.78);
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  display: block;
  z-index: 9;
  transition: 0.5s;
}

.navbar-container {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #323232;
  box-shadow: 1px 1px 10px #323232;
}

.mobile-navbar{
  height: 0;
  padding: 0 !important;
  transition: 0.5s;
}

.mobile-navbar.active{
  height: 200px;
  padding: 0.5rem !important;
}

.menu-mobile{
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 15px;
  display: none;
  transition: 0.5s;
}

.menu-mobile.active{
  display: flex;
}

.mobile-nav-item{
  list-style: none;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobile-nav-link{
    color: aliceblue !important;
    text-decoration: none !important;
    font-size: 18px !important;
}

.logo {
  width: 80px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: aliceblue !important;
  text-decoration: none !important;
  font-size: 15px !important;
}

/* Mobile Menu */

.mobile-menu-container {
  display: none;
}

.mobile-menu {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.mobile-menu div {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;
  transition: 0.5s;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.mobile-menu.active div:nth-child(1) {
  transform: translate3d(0px, 6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

.mobile-menu.active div:nth-child(2) {
  transform: translate3d(0px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}

/* Hero */

main {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-text {
  max-width: 65em;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}

.heading-huge {
  font-size: 10rem;
  text-align: center;
  background-image: linear-gradient(90deg, #ffc940, #ff7bad 50%, #6cafff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.github {
  display: flex;
  overflow: hidden;
  width: 11rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #101118;
  border-radius: 40px;
  background-color: #101118;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.github:hover {
  border: 1px solid #101118;
  background-color: #ffffff;
  color: #101118;
  text-decoration: none;
}

.button-divider-line {
  width: 7rem;
  height: 1px;
  background-color: #202026;
}

.linkden {
  display: flex;
  overflow: hidden;
  width: 11rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #101118;
  border-radius: 40px;
  color: #101118;
  text-decoration: none;
  transition: 0.3s;
}

.linkden:hover {
  border: 1px solid #101118;
  color: #ffffff;
  background-color: #101118;
}

/* About */

.about-section,
#projects {
  text-align: center;
}

.heading-container {
  position: relative;
}

.name h1,
.skills h1,
.educations h1,
.experience h1,
#projects h1 {
  font-family: "Bebas neue", sans-serif;
  font-size: 6.8rem;
  letter-spacing: 5px;
  color: #101118;
}

.scrolling {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  position: absolute;
  left: 2%;
  top: -20%;
  width: 98vw;
}

.back {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #5a24ed50;
  z-index: -1;
  font-family: "Bebas neue", sans-serif;
  font-size: 6.8rem;
  padding: 0 5rem;
  letter-spacing: 5px;
  transition: 0.5s;
  animation: scroll-text 3000ms linear infinite;
}

.scrolling:hover .back {
  -webkit-text-stroke: 2px #5a24edb7;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills,
.educations,
.experience {
  padding: 6rem 0;
}

/* About Me */

.about-me {
  width: 100%;
  margin: 4rem 0;
}

.about-me .heading-huge {
  font-size: 10rem;
}

.my-intro {
  background-color: #f5f5f7;
  border-radius: 30px;
  padding: 4rem;
}

.name h1 {
  text-align: center;
  background-image: linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dis {
  padding: 20px;
}

.dis p {
  font-size: 20px;
  color: #101118;
  font-family: Inter, sans-serif;
  text-align: center;
  line-height: 30px;
}

/* Skills */

.skills {
  text-align: center;
}

.skills img {
  width: 100px;
  padding: 2rem 1rem 0 0;
}

/* educations */

.edu .school-name,
.exp .role {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: "Bebas neue", sans-serif;
  color: #adb5bd;
}

.education,
.exp {
  background-color: #f5f5f7;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 0.2px 0.2px 5px #dcdce1;
  transition: 0.5s;
}

.education:nth-child(3) {
  width: 1000px;
}

.education:hover,
.exp:hover {
  box-shadow: 5px 5px 20px #dcdce1;
  transform: translateY(-5px);
}

.edu,
.exp-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}

.edu .board {
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: #adb5bd;
  padding: 10px 0;
}

/* Experience */

.exp .campany {
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: #adb5bd;
  padding: 10px 0;
}

.exp p {
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: #adb5bd;
  padding: 10px 0;
  text-align: justify;
}

/* PROJECTS */

#projects {
  padding: 5rem 0;
}

#projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto 5rem auto;
  /* gap: 2rem; */
}

#projects .item .left {
  flex: 1;
}

#projects .item .left .img {
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #d6d5d5;
  position: relative;
  width: 600px;
}

#projects .item .left .img:hover img {
  transform: scale(1.1);
}

#projects .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
  width: 100%;
}

#projects .item .right {
  margin-left: -80px;
  flex: 1;
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}

#projects .item .right .project-title {
  font-size: 2.5rem;
  font-family: "Montserrat";
  margin-bottom: 1rem;
}

#projects .item .right .project-sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

#projects .item:nth-of-type(even) {
  flex-direction: row-reverse;
}

#projects .item:nth-of-type(even) .left {
  margin-left: -80px;
}

#projects .item:nth-of-type(even) .right {
  margin-left: 0;
}

#projects h1 {
  padding-bottom: 4rem;
}

/* Footer */

footer {
  width: 100%;
  height: 10vh;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p span {
  font-size: 15px;
}

.copyright p {
  font-size: 13px;
  color: #000000;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  margin: 0;
}

/* Mobile devices (up to 480 pixels) */
@media screen and (max-width: 480px) {
  .inner-cursor {
    display: none;
  }

  .outer-cursor {
    display: none;
  }

  .hero-section {
    width: 100%;
    height: 35vh;
  }

  .menu {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-container {
    padding: 0.5rem;
  }

  .logo {
    width: 50px;
  }

  main {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .heading-huge {
    font-size: 4.5rem;
  }

  .my-intro {
    padding: 2rem 0;
  }

  .name h1,
  .skills h1,
  .educations h1,
  .experience h1,
  #projects h1 {
    font-size: 4rem;
    letter-spacing: 1px;
  }
  .dis p {
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
  }

  .back {
    font-size: 4rem;
  }

  .github {
    width: 130px;
    height: 40px;
    font-size: 13px;
  }

  .button-divider-line {
    width: 2.6rem;
  }

  .linkden {
    width: 130px;
    height: 40px;
    font-size: 13px;
  }

  .education,
  .exp,
  .education:nth-child(3) {
    width: 300px;
  }
  .edu .school-name,
  .exp .role {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .skills img {
    width: 70px;
    padding: 1rem 1rem 0 0;
  }

  .skills,
  .educations,
  .experience {
    padding: 3rem 0;
  }

  footer {
    height: 5vh;
  }
  .copyright p {
    font-size: 10px;
  }
}

/* Tablets (between 481 and 768 pixels) */
@media (max-width: 768px) {
  #projects .item {
    flex-direction: column;
  }
  #projects .item .left {
    width: 100%;
  }
  #projects .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }

  #projects .item:nth-of-type(even) {
    flex-direction: column;
  }

  #projects .item:nth-of-type(even) .left {
    margin-left: 0;
  }

  #projects .item:nth-of-type(even) .right {
    margin-left: 0;
  }

  #projects .item .left .img {
    width: 335px;
  }
  #projects .item .right {
    margin-top: -50px;
  }
  #projects .item .right {
    padding: 2rem;
  }

  #projects .item {
    margin-bottom: 6rem;
  }
}

/* Small desktops/laptops (between 769 and 1024 pixels) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-container {
    padding: 0.5rem;
  }

  .heading-huge {
    font-size: 10rem;
  }

  .hero-section {
    height: 60vh;
  }

  .education:nth-child(3) {
    width: 500px;
  }
}

/* Large desktops/laptops (greater than 1024 pixels) */
@media screen and (min-width: 1200px) {
}

@media (min-width: 1620px) {
  .container-large {
    max-width: 90%;
  }

  .hero {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .hero-text {
    max-width: 90%;
  }
  .heading-huge {
    font-size: 16rem;
  }
}

/* Breakpoints */

/* @media (min-width: 1200px) {}
@media (min-width: 1620px) {}
@media (min-width: 992px) {}
@media (min-width: 992px) {}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 414px) {}
@media (max-width: 413px) {}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 767.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 767px) {}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 991px) {} */
